body {
    background: rgb(2, 0, 36);
    background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(245, 245, 245, 1) 0, rgba(239, 252, 255, 1) 100%);
    font-family: 'Tajawal', sans-serif;
    height: 100vh;
}

#twitchBox {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

#streamBox {
    background: #fbfbfb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px #eeeeee;
    border: 1px solid rgba(75, 54, 124, 0.15);
}

.streamers {
    list-style: none;
    height: 60px;
    border-bottom: 1px solid #ddd;
    line-height: 72px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: 100;
    font-size: 30px;
    color: #bbbbbb;
    border: 1px solid #f1f1f1;
    border: 1px solid rgba(75, 54, 124, 0.15);
    box-shadow: 4px 4px 5px #eeeeee;
}

.title img {
    width: 200px;
    height: auto;
}

.icon {
    float: right;
    margin-right: 10px;
}

.online {
    color: #91E370;
}

.offline {
    color: #E37091;
}

.logo {
    width: 50px;
    display: block;
    opacity: 0.33;
    transition: opacity 1s;
    filter: invert(100%);
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin: 0 -25px;
    padding-bottom: 50px;
}

.logo:hover {
    opacity: 1;
    transition: opacity 1s;
}

.watchLive {
    color: #4b367c;
    border: none;
    line-height: 21px;
    position: relative;
    float: left;
    margin-top: 14px;
    margin-left: 20px;
    border-radius: 4px;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hide {
    color: #fff !important;
}

#addUserInput {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.tooltip {
    color: #fff;
    background: rgba(51, 51, 51, 0.65);
    font-family: inherit;
    width: fit-content;
    position: absolute;
    line-height: 20px;
    height: 14px;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    margin-top: 16px;
    margin-left: -200px;
    display: none;
    z-index: 999;
}
